*{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: monospace;
  justify-content: center;
  align-items: center;
}
#calculator {
  width: 70vw;
  height: 400px;
  background-image: linear-gradient(
    to bottom right,
    rgba(232, 11, 11, 0.572),
    rgba(255, 0, 191, 0.62)
  );
  
}
